<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>XIVTheCalamity Launcher</string>
    <key>CFBundleDisplayName</key>
    <string>XIVTheCalamity</string>
    <key>CFBundleExecutable</key>
    <string>XIVTheCalamity</string>
    <key>CFBundleIdentifier</key>
    <string>com.XIVTheCalamity.launcher</string>
    <key>CFBundleName</key>
    <string>XIVTheCalamity</string>
    <key>CFBundleIconFile</key>
    <string>XIVTC.icns</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.0</string>
    <key>CFBundleVersion</key>
    <string>2.0.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>GCSupportedGameControllers</key>
    <array>
        <dict>
            <key>ProfileName</key>
            <string>ExtendedGamepad</string>
        </dict>
        <dict>
            <key>ProfileName</key>
            <string>MicroGamepad</string>
        </dict>
        <dict>
            <key>ProfileName</key>
            <string>DirectionalGamepad</string>
        </dict>
    </array>
    <key>GCSupportedControllerUserInteraction</key>
    <true/>
</dict>
</plist>
